.SideNav {
  border-right: 1px solid #c7c7c7;
  padding: 2rem;
  width: 20%;
  min-height: 400px;
  height: 100%;
  z-index: 1;
  box-sizing: border-box;
}

.SideNav .SideNav-nav {
  min-height: 300px;
  height: 100%;
  box-sizing: border-box;
}

.SideNav .SideNav-nav .SideNav-nav-list {
  margin: 0px;
  min-height: 300px;
  height: 100%;
  color: #555555;
  list-style: none;
}

.SideNav .SideNav-nav .SideNav-nav-list .item-link {
  position: relative;
  width: fit-content;
  text-align: left;
  color: inherit;
  padding: 5px;
  box-sizing: border-box;
  transition: all 0.35s;
}

.SideNav .SideNav-nav .SideNav-nav-list .item-link::before {
  content: '';
  position: absolute;
  top: 23px;
  width: 0;
  height: 2px;
  display: inline-block;
  background-color: #454545;
  transition: all 0.35s;
}

.SideNav .SideNav-nav .SideNav-nav-list .item-link a {
  color: inherit;
  font-weight: normal;
  letter-spacing: 1px;
  text-decoration: none;
  transition: all 0.25s;
}

.SideNav .SideNav-nav .SideNav-nav-list .item-link:hover::before {
  content: '';
  width: 70%;
  height: 3px;
  display: inline-block;
  background-color: #454545;
  color: #454545;
  transition: all 0.25s;
}

.SideNav .SideNav-nav .SideNav-nav-list .item-link:hover {
  color: #454545;
  font-weight: 600;
  transition: all 0.25s;
}

