.MovieCard {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid #c7c7c7;
  border-radius: 5px;
  border-bottom: none;
  width: 30%;
  color: #555555;
  margin: 1rem 1.5%;
  animation: move 0.55s ease-in;
}

.MovieCard .card-header {
  overflow: hidden;
  border: 5px solid black;
  width: 100%;
  height: 60%;
}

.MovieCard .card-header img {
  max-width: 100%;
}

.MovieCard .card-main-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  text-align: center;
  height: 40%;
  overflow: auto;
}

.MovieCard .card-main-content .card-main-content__title h2 {
  margin-bottom: 10px;
  margin-top: 10px;
  color: #353535;
  font-size: 36px;
  font-family: "Mountains of Christmas", cursive;
}

.MovieCard .card-main-content .card-main-content__description p {
  margin-bottom: 5px;
  margin-top: 5px;
}

.MovieCard .card-footer {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  height: 10%;
  color: #f5f5f5;
  border: 1px solid rgb(225, 2, 99);
  background-color: rgb(225, 2, 99);
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.MovieCard .card-footer > div {
  width: 33.3333%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: inherit;
  border-right: 1px solid #f5f5f5;
}

.MovieCard .card-footer > div:last-of-type {
  /* width: 33.3333%; */
  padding: 10px;
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; */
  border-right: none;
}

.MovieCard .card-footer > div p {
  margin: 10px;
  margin-bottom: 0px;
  color: inherit;
}

.MovieCard .card-footer > div:first-of-type i {
  color: rgb(255, 200, 0);
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: rgb(255, 183, 0);
}

.MovieCard .card-footer > div:nth-of-type(2) i {
  color: rgb(0, 201, 0);
}

.MovieCard .card-footer > div:last-of-type i {
  color: rgb(0, 113, 218);
}

/* Style 2 */

.MovieCard .card-header-style2 {
  height: 500px;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-self: center;
  position: relative;
}

.MovieCard .card-header-style2 img {
  position: absolute;
  top: 0;
  left: -10%;
  max-height: 100%;
  z-index: -5;
}

.check-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.MovieCard .card-header-style2 .card-footer-style2 {
  height: 60px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-bottom: 1px solid #c7c7c7;
  border-bottom-left-radius: 1px solid #c7c7c7;
  border-bottom-right-radius: 1px solid #c7c7c7;
  position: relative;
}

.MovieCard .card-header-style2 .card-footer-style2 .title {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.MovieCard .card-header-style2 .card-footer-style2 .title h2 {
  font-size: 16px;
  font-weight: normal;
}

.MovieCard .card-header-style2 .card-footer-style2 .card-menu {
  width: 10%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.MovieCard .card-header-style2 .card-footer-style2 .card-menu {
  cursor: pointer;
  color: #757575;
  font-size: 26px;
  transition: all 0.25s;
}

.MovieCard .card-header-style2 .card-footer-style2 .card-menu i.fa-ellipsis-v {
  color: #555555;
  outline: none;
  transition: all 0.25s;
}

.MovieCard
  .card-header-style2
  .card-footer-style2
  .card-menu:hover
  i.fa-ellipsis-v {
  color: #555555;
  transition: all 0.25s;
}

.MovieCard .card-header-style2 .card-footer-style2 .card-menu .card-menu_list {
  position: absolute;
  top: -48px;
  left: 22px;
  border: 1px solid rgb(248, 244, 244);
  border-right: 0px;
  padding: 5px;
  width: 90%;
  height: 100%;
  background-color: #ffffff;
  z-index: 2000;
  animation: fadeIn 0.5s;
  animation-fill-mode: forwards;
}

.MovieCard
  .card-header-style2
  .card-footer-style2
  .card-menu
  .card-menu_list
  ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 0px;
  padding: 0px;
  height: 100%;
}

.MovieCard
  .card-header-style2
  .card-footer-style2
  .card-menu
  .card-menu_list
  ul
  li {
  display: inline-block;
  list-style: none;
}

.MovieCard
  .card-header-style2
  .card-footer-style2
  .card-menu
  .card-menu_list
  ul
  li
  i {
  font-size: 22px;
  color: #757575;
  outline: none;
}

.MovieCard
  .card-header-style2
  .card-footer-style2
  .card-menu
  .card-menu_list
  ul
  li:hover:first-child
  i {
  color: rgb(0, 104, 240);
}

.MovieCard
  .card-header-style2
  .card-footer-style2
  .card-menu
  .card-menu_list
  ul
  li:hover:nth-child(2)
  i {
  color: rgb(10, 191, 0);
}

.MovieCard
  .card-header-style2
  .card-footer-style2
  .card-menu
  .card-menu_list
  ul
  li:hover:last-child
  i {
  color: rgb(201, 0, 44);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    bottom: -10px;
  }
  100% {
    opacity: 1;
    right: -10px;
  }
}

@keyframes move {
  0% {
    opacity: 0;
    margin-top: -100px;
  }
  100% {
    opacity: 1;
    margin-top: 0;
  }
}
