.Layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 1140px;
  margin: 0 auto;
  z-index: 1;
}

.Layout .main-content {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  min-height: 600px;
}

.Layout .main-content .MovieContainer {
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
