.movie-form-container {
  position: absolute;
  width: 60vw;
  height: 70vh;
  margin: 3rem auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #ffffff;
  padding: 2rem;
  border: 1px solid #c7c7c7;
  border-radius: 5px;
  z-index: 10000;
}

.add-movie-header {
  text-align: center;
  margin: 1rem 0;
}

.movie-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid gainsboro;
  padding: 2rem;
  border-radius: 1rem;
  width: 100%;
  gap: 20px;
}

.movie-list-container {
  position: relative;
}

.add-movie-movies-list {
  width: 70%;
  position: absolute;
  /* overflow: auto; */
  height: 50vh;
  z-index: 10;
  top: 98%;
  left: 28.4%;
  background-color: rgb(255, 255, 255);
  border: 1px solid #c7c7c7;
  overflow-y: scroll;
  border-radius: 5px;
}

.add-movie-movies-list::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #edbd00;
}

.add-movie-movies-list::-webkit-scrollbar-thumb {
  width: 10px;
  background-color: rgb(218, 0, 163);
}

.add-movie-input-row {
  display: flex;
  flex-direction: row;
  width: 90%;
  justify-content: space-evenly;
  align-items: center;
}

.add-movie-input-row label {
  width: 25%;
  text-align: right;
  white-space: nowrap;
}

.add-movie-input-row label::after {
  content: ":";
}
.add-movie-input-row textarea,
.add-movie-input-row input {
  width: 70%;
  line-height: 1.5rem;
  outline: none;
  border: 1px solid rgb(211, 208, 208);
  border-radius: 0.2rem;
}
.add-movie-input-row textarea {
  resize: vertical;
}

.submit-button {
  border: none;
  padding: 0.5rem 2rem;
  border-radius: 0.3rem;
  width: 90%;
  position: relative;
  outline: none;
  transition: all 0.5s;
  cursor: pointer;
}

.submit-button:hover {
  background-color: gray;
}

.AddMovie-movie-item {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  border-bottom: 1px solid #c7c7c7;
  transition: all 0.25s;
}

.AddMovie-movie-item:last-of-type {
  border-bottom: none;
}

.movie-original-title-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  justify-content: space-between;
}

.movie-original-title {
  padding: 0px 15px;
  letter-spacing: 2px;
  font-size: 16px;
  margin-bottom: 30px;
  color: #555555;
  list-style-type: none;
}

.movie-release-year {
  padding: 0px 15px;
  color: #757575;
  font-size: 14px;
}

.movie-thumbnail {
  height: 85px;
}

.AddMovie-movie-item:hover {
  background-color: #f5f5f5;
  transition: all 0.25s;
}
